body{
    font-family: 'Roboto', sans-serif;
    background-color: #3F3A3A;
}

.adicionar_uso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.adicionar_uso-titulo{
    color: white;
    font-size: 35px;
}

.destaque{
   font-weight: bold;
}

